.register {
    background-color: #fff;
    width: 100%;
    height: inherit;
    border-radius: 0 0 0 80px;
    position: relative;

    h1 {
        color: $dark-blue;
        margin-bottom: 4px;
    }

    p {
        color: $light-blue;
        margin-bottom: 18px;
    }

    .offscreen {
        display: none;
        transition: 0.1ms ease-in-out display;
    }

    .instructions {
        display: block;
        background-color: hsl(0, 86%, 67%);
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
        padding: 12px;
        border-radius: 8px;
        position: relative;
        transition: 0.1ms ease-in-out display;

        .info_icon {
            width: 16px;
            position: absolute;
            top: 10px;
        }

    }

    .register-btn {
        background-color: $accent-color;
        color: $dark-blue;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-weight: 800;
        border-radius: 40px;
        padding: 21px;
        width: 100%;
    }

    button {
        opacity: 1;
        margin-bottom: 60px;
    }

    button:disabled {
        opacity: 0.6;
    }

    .input-password {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        position: relative;

        .show-password-icon {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .login-link {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 500;
        color: $dark-blue;

        &:hover {
            text-decoration: underline;
            font-weight: 700;
        }
    }
}