.primary-btn {
    background-color: transparent;
    background-color: $dark-blue;
    color: #E1F296;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    width: 290px;
    padding: 15px 12px;
}

.shadow-btn {
    display: block;
    font-size: 15px;
    color: #E1F296;
    font-weight: 200;
    background-color: transparent;
}