button {
    font-family: 'Nunito', sans-serif;
}

.primary-btn {
    background-color: transparent;
    background-color: $dark-blue;
    color: #E1F296;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    width: 290px;
    padding: 15px 12px;
}

.shadow-btn {
    display: block;
    font-size: 15px;
    color: #E1F296;
    font-weight: 200;
    background-color: transparent;
}

.promodo-btn {
    font-size: 60px;
    font-weight: 700;
    color: $dark-blue;
    background-color: transparent;
}

.addTaskBtn {
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 90%;

    input {
        height: 100%;
        padding-block: 10px;
        font-family: 'Nunito', sans-serif;
        font-weight: $meduim;
        font-size: 12px;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-family: 'Nunito', sans-serif;
            font-weight: $meduim;
        }

    }

    button {
        appearance: none;
        background-color: transparent;

        svg {
            margin-right: 4px;

            path {
                color: $accent-color;
            }
        }
    }

}