$primary-color: #01565B;
$dark-blue: #002C2F;
$light-blue: #2d5d61;
$light-color-700: #e9f0f034;
$darker-blue: #000e0f;

$secondery-color: #5ABA8A;

$accent-color: #d9f362;
$accent-color-dark: #d2fa1e;

$bold: 800;
$semiBold: 700;
$meduim: 500;