.login {
   height: 100vh;
   background-image: url("../../public/ASSETS/login-background.svg");
   label {
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 18px;
}
}
.login-input{
    display: block;
    width: 290px;
    padding: 15px 12px;
    margin-block: 8px 30px;
    border-radius: 8px;
    font-size: 18px;
    color:$dark-blue;
    box-shadow: 0 14px 20px hsla(183, 100%, 9%, 20%);
}
.login-input::placeholder {
    font-weight: 300;
    font-size: 12px;
}
.login-input:focus {
    outline: none;
    border: 2px solid $primary-color;
}