.tasks-container {
    display: flex;
    flex-direction: row;
}

.tasks-lists {
        padding:30px;
    
    .tasks {
        width: 100%;
        display: flex;
        flex-direction: row;
        // overflow-x: scroll;
        gap: 24px;
        width: 100%;
    }
}